@define-color crust rgb(0, 0, 0);
@define-color base rgb(13, 17, 18);
@define-color surface rgb(13, 17, 18);
@define-color overlay rgb(15, 20, 21);
@define-color muted rgb(51, 55, 56);
@define-color subtle rgb(51, 55, 56);
@define-color text rgb(197, 200, 201);

@define-color red rgb(238, 106, 112);
@define-color orange rgb(222, 135, 109);
@define-color yellow rgb(124, 211, 159);
@define-color green rgb(127, 200, 219);
@define-color blue rgb(123, 165, 221);
@define-color purple rgb(192, 133, 233);
@define-color accent rgb(123, 165, 221);
@define-color accent_fg rgb(223, 221, 190);

@define-color transparent rgba(0, 0, 0, 0.0);

* {
  border: none;
  min-height: 0;
  font-family: FantasqueSansM Nerd Font Propo;
}

window#waybar {
  background-color: alpha(@base, 0.9);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  padding: 5px;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 12px;
  margin: 4px 4px;
  font-size: 20px;
  border-radius: 15px;
  background-color: transparent;
  transition-property: background, color;
  transition-duration: 0.25s;
  color: @text;
}

#custom-sidebar {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 160px 4px;
  margin: 0px 8px;
  font-size: 20px;
  border-radius: 15px;
  background-color: alpha(@text, 0.05);
  transition-property: background, color;
  transition-duration: 0.25s;
  color: @text;
}

#clock {
  padding: 20px 10px;
  font-size: 30px;
}

span {
  color: @base;
}

#workspaces button:hover {
  /*box-shadow: inset 0 0 0 2px @accent; */
  background-color: @surface;
  color: @accent;
}

#workspaces button.active {
  background-image: linear-gradient(@blue, @purple);
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @crust;
}

tooltip label {
  padding: 5px;
}
